<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 no-gutters">
    <a href="#" class="navbar-brand" routerLink="/principal"><img src="https://res.cloudinary.com/nsdata/image/upload/v1605810895/rockQuest/eo9ugb1omogxvjsrwqiy.png" width="60px"> </a>
    <button type="button" name="button" class="navbar-toggler" data-toggle='collapse' data-target='#menu'>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-5" id="menu">
        <ul class="navbar-nav mr-auto misEstilos mt-4 mt-lg-0"> 
            <li class="nav-item" routerLinkActive="active">
                <a href="" class="nav-link mr-0  mr-lg-4 mt-2 mt-lg-0" routerLink="/principal">Inicio</a>
            </li>
            <li class="nav-item" *ngIf="user.rank == 'estudiante'">
                <a href="" class="nav-link mr-0 mr-lg-4 mt-2 mt-lg-0" routerLink="/estudiante">Estudiante</a>
            </li>
            <li class="nav-item" *ngIf="user.rank == 'profesor'">
                <a href="" class="nav-link mr-0 mr-lg-4 mt-2 mt-lg-0" routerLink="/profesor">Profesor</a>
            </li>
            <li class="nav-item" *ngIf="user.rank == 'creador'">
                <a href="" class="nav-link mr-0 mr-lg-4 mt-2 mt-lg-0" routerLink="/creador">Creador</a>
            </li>
        </ul>

        <div class="form-inline my-2 my-sm-0">
            <div *ngIf="user.name == null">
                <a #thenBlock href="" class="btn btn-secondary mb-2 mt-4 my-lg-0 mr-sm-4 boton" routerLink="/registro">Registrarse</a>
            </div>
            <div *ngIf="user.name != null">
                <!-- AGREGARLE ESTILOS AL NOMBRE -->
                <a #thenBlock class="mb-2 mt-4 my-lg-0 mr-sm-4">{{user.name}}</a>
            </div>
            <a href="" class="btn btn-primary mb-2 mt-2 mt-sm-4 my-lg-0 boton" routerLink="/ingresar">Ingresar</a>
        </div>
    </div>
</nav>


