main{
    background: url(https://www.defondos.com/bulkupload/mario-bros-wallpapers/Juegos/Mario%20Bros/Galaxy%20Mario_800.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main .fila2{
    background: url(../../../imagenes/gaming-pattern.png);
    border: 1px solid #000000;
    border-radius: 20px;
}

main .fila1 .column{
    border: 1px solid #000000;
    border-radius: 20px;
    background: url(../../../imagenes/gaming-pattern.png);
}

main .fila2{
    border: 1px solid #000000;
    border-radius: 20px;
}


