<main>
    <div class="row no-gutters d-flex justify-content-between">
        <div class="col-12 col-sm-9">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Buscar Estudiante</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-2">
            <button class="btn btn-success w-100 h-75 d-none d-sm-block">Buscar</button>
            <button class="btn btn-success w-100 h-100  p-3 d-block d-sm-none">Buscar</button>
        </div>
    </div>
</main>
