<main class="pb-3 pt-5">
    <div class="row no-gutters d-flex justify-content-between">
        <div class="col-12 col-md-4 d-flex align-content-center align-items-center justify-content-center">
            <p class="h2 text-center">Mision: </p>
            <p class="h2 pl-4">{{idMision}}</p>
        </div>
        <div class="col-12 col-md-8 col-lg-7 col-xl-6 d-block d-md-flex align-content-center align-items-center">
            <p class="h2 w-25 pr-4">Materia: </p>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label class="w-100">seleccione</mat-label>
                <mat-select >
                  <mat-option value="option" *ngFor="let materia of listaMateria">{{materia}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</main>
