<p-card header="Crear Ciudades" [style]="{ 'margin-left':'auto','margin-right':'auto'}">
    <span class="p-float-label" [style]="{'margin-bottom': '2em', 'margin-left':'auto','margin-right':'auto'}">
        <input id="float-input" type="text" pInputText > 
        <label for="float-input">Creador</label>
    </span>

    <span class="p-float-label" [style]="{'margin-bottom': '2em', 'margin-left':'auto','margin-right':'auto'}">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Titulo o Nombre Ciudad</label>
    </span>

    
    <span class="p-float-label" [style]="{'margin-bottom': '2em', 'margin-left':'auto','margin-right':'auto'}">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Mapa</label>
    </span>

    <span class="p-float-label" [style]="{'margin-bottom': '2em', 'margin-left':'auto','margin-right':'auto'}">
        <p-multiSelect [options]="countries" [(ngModel)]="selectedCountries1" defaultLabel="Select a Country" optionLabel="name" class="multiselect-custom">
            <ng-template let-value pTemplate="selectedItems">
                <div class="country-item country-item-value" *ngFor="let option of selectedCountries1">
                    <div>{{option.name}}</div>
                </div>
                <div *ngIf="!selectedCountries1 || selectedCountries1.length === 0" class="country-placeholder">
                    Select Countries
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="country-item">
                    <div>{{country.value.name}}</div>
                </div>
            </ng-template>
        </p-multiSelect>
    </span>
</p-card>