main{
    background: url(https://www.chiquipedia.com/images/fondos-pantalla-videojuegos-mario-p.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}