main{
    background: url(../../../imagenes/gaming-pattern.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-card{
    width: 30%;
    margin: 20px auto;

}
.mat-card-header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}
.mat-card-header .mat-card-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

.mat-card-content{
    width: 100%;
    padding: 0px 20px;
}


.mat-card-content div{
    width: 100%;
    margin: 30px 0px;
}

.mat-card-content div .mat-form-field{
    width: 100%;
}

.mat-card-content .aceptar button{
    width: 100%;
    background: darkcyan;
    color: #000;
    padding: 15px;
}

.mat-card-content .aceptar button:hover{
    background: aquamarine;
    padding: 18px;
}

@media screen and (max-width:1263px){
    .mat-card{
        width: 50%;
        margin: 20px auto;
    
    }
}

@media screen and (max-width:600px){
    .mat-card{
        width: 90%;
        margin: 20px auto;
    
    }
}