<main >
    <div class="row">
        <div class="col-12 col-sm-6 mb-2 mb-sm-0">
            <div class="col-12">
                <img src="https://icdn2.digitaltrends.com/image/digitaltrends_es/mario-kart-tour-3-1200x630-c-ar1.91.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-12">
                <a href="" class="btn btn-danger w-100 p-3">Descarga</a>
            </div>
        </div>

        <div class="col-12 col-sm-6 mt-5 mt-sm-0">
            <div class="col-12">
                <img src="https://media.redadn.es/imagenes/super-mario-galaxy-2-wii_41238.jpg" alt="" class="img-fluid ">
            </div>
            <div class="col-12">
                <a href="" class="btn btn-danger w-100 p-3" routerLink="/registro">Unete</a>
            </div>
        </div>
    </div>
</main>


