<p-card header="Registro" [style]="{ 'margin-left':'auto','margin-right':'auto'}">
    <span class="p-float-label" [style]="{'margin-bottom': '2em', 'margin-left':'auto','margin-right':'auto'}">
        <input id="float-input" type="text" pInputText > 
        <label for="float-input">Nombre</label>
    </span>

    <span class="p-float-label" [style]="{'margin-bottom': '2em', 'margin-left':'auto','margin-right':'auto'}">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Correo</label>
    </span>

    <span class="p-float-label" [style]="{'margin-bottom': '2em', 'margin-left':'auto','margin-right':'auto'}">
        <input type="password" pPassword />
        <label for="float-input">Constraseña</label>
    </span>

    <span class="p-float-label" [style]="{'margin-bottom': '2em', 'margin-left':'auto','margin-right':'auto'}">
        <input id="float-input" type="text" pInputText> 
        <label for="float-input">Codigo universitario</label>
    </span>

</p-card>