<main>
    <p class="h3 d-block d-lg-none">Premios</p>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="h6">Premios</th>
                <th class="h6">Puntos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let premios of listaPremios[0]" class="table-light">
                <td>{{premios.rewards}}</td>
                <td>{{premios.tickets}}</td>
            </tr>
        </tbody>
    </table>
</main>
