<main class="h-100 p-1">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Registro</mat-card-title>
        </mat-card-header>
        <mat-card-content>
              <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="ejemplo: Gustavo Patarroyo" [formControl]="name" required>
                    <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
                </mat-form-field>
              </div>
              <hr>
              <div>
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="ejemplo: Dr212?121*" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
                  </mat-form-field>
              </div>
              <hr>
              <div>
                <mat-form-field appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="ejemplo: example@poligran.edu.co" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                  </mat-form-field>
              </div>
              <hr>
              <div>
                <mat-form-field appearance="fill">
                    <mat-label>Código universitario</mat-label>
                    <input matInput placeholder="ejemplo: 1710010543" type="number" [formControl]="codeU" required>
                    <mat-error *ngIf="codeU.invalid">{{getErrorMessageCodeu()}}</mat-error>
                </mat-form-field>
              </div>
              <hr>
              <div>
                <mat-form-field appearance="fill">
                    <mat-label>Rango</mat-label>
                    <mat-select [formControl]="rank" placeholder="ejemplo: 1710010543" required>
                      <mat-option value="estudiante">Estudiante</mat-option>
                      <mat-option value="profesor">Profesor</mat-option>
                      <mat-option value="creador">Creador de contenido</mat-option>
                    </mat-select>
                    <mat-error *ngIf="rank.invalid">{{getErrorMessageCodeu()}}</mat-error>
                </mat-form-field>
              </div>
              <hr>
              <div class="aceptar">
                <button mat-raised-button (click)="saveUser()" routerLink="/ingresar">Aceptar</button>
              </div>
        </mat-card-content>
    </mat-card>
</main>
