<main class="pt-5 pb-3">
    <div class="row no-gutters d-flex justify-content-between">
        <div class="col-5 d-flex justify-content-between align-content-center align-items-center">
            <p class="h3 pr-4">Orden:</p>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label># mision</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class="col-6 d-flex justify-content-between align-content-center align-items-center">
            <p class="h3 px-4">Condicion:</p>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>condicion</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
    </div>
    <div class="row no-gutters d-flex justify-content-between pt-3 align-content-center align-items-center">
        <div class="col-10 d-flex justify-content-between">
            <p class="h3 px-4">Dialogo:</p>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>condicion</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class="col-2 align-content-center align-items-center">
            <button class="btn btn-success btn-lg d-block ml-3 w-75">Agregar</button>
        </div>
    </div>
</main>
