<main>
    <div class="row mb-3">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Filas</mat-label>
            <input matInput type="number" placeholder="Filas" [(ngModel)]="filas">
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Colummnas</mat-label>
            <input matInput type="number" placeholder="columnas" [(ngModel)]="columnas">
        </mat-form-field>

        <button (click)="llenarMapa()" class="btn btn-primary btn-lg w-100">Actualizar</button>
    </div>

    <div class="row fila_2">
        <div class="w-100 d-flex justify-content-center align-items-center">
            <table>
                <tr class="d-flex flex-column justify-content-between align-items-center">
                    <div *ngFor="let fila of mapa; let i=index">
                        <td *ngFor="let columna of fila; let j=index">
                            <div class="dropdown d-flex flex-column align-items-center m-2">
                                <div class="box">
                                    <img src={{columna}}>
                                </div>
                                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Imagenes
                                </button>
                                <div class="dropdown-menu desplegable" aria-labelledby="dropdownMenuButton">
                                    <div *ngFor="let image of images[0]">
                                        <a class="dropdown-item" (click)="ponerImagen(i,j,image.image)"><img src={{image.image}} width="200" height="200"></a>
                                    </div>
                                </div>
                            </div> 
                        </td>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</main>