<main>
    <div class="row no-gutters border d-flex justify-content-center align-content-center align-items-center p-4 bg-light">
        <div class="col-10">
            <div class="row no-gutters d-flex justify-content-center align-content-center align-items-center">

                <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-content-center align-items-center">
                    <p class="h4">Premio:</p>
                    <mat-form-field appearance="fill" class="w-75">
                        <mat-label>Nombre premio</mat-label>
                        <input matInput [(ngModel)]="rewards">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-content-center align-items-center">
                    <p class="h4 text-center">Puntos Necesarios:</p>
                    <mat-form-field appearance="fill" class="w-75">
                        <mat-label>Puntos</mat-label>
                        <input matInput type="number" [(ngModel)]="tickets">
                    </mat-form-field>
                </div>

                <div class="col-12 d-flex flex-column justify-content-center align-content-center align-items-center">
                    <button class="btn btn-success w-50 btn-lg" (click)="guardar()">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</main>