<main>
    <div class="row no-gutters">
        <div class="col-12">
            <div class="row no-gutters my-4">
                <div class="col-12 d-block d-md-flex justify-content-between align-content-center align-items-center">
                    <p class="h3 pr-3">Nombre:</p>
                    <mat-form-field appearance="fill" class="w-75 d-none d-md-block">
                        <mat-label>Nombre estudiante</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100 d-block d-md-none">
                        <mat-label>Nombre estudiante</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="row no-gutters mb-4">
                <div class="col-12 d-block d-md-flex justify-content-between align-content-center align-items-center">
                    <p class="h3 pr-3">Curso:</p>
                    <mat-form-field appearance="fill" class="w-75 d-none d-md-block">
                        <mat-label>Materia del estudiante</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100 d-block d-md-none">
                        <mat-label>Materia del estudiante</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="row no-gutters mb-4">
                <div class="col-12 d-block d-md-flex justify-content-between align-content-center align-items-center">
                    <p class="h3 pr-3">Puntos:</p>
                    <mat-form-field appearance="fill" class="w-75 d-none d-md-block">
                        <mat-label>Puntos del estudiante</mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100 d-block d-md-none">
                        <mat-label>Puntos del estudiante</mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-success w-50 btn-lg d-none d-md-block">Agregar</button>
            <button class="btn btn-success w-100 btn-lg d-block d-md-none">Agregar</button>
        </div>
    </div>
</main>