<div class="row">
    <div class="col-12 col-sm-5">
        <img src="https://galakia.com/wp-supercontent/uploads/2017/10/411af60c2c61c9483a6a6a170f342cb64f48eb84_hq-1280x720.jpg" alt="">
    </div>

    <div class="col-12 col-sm-6 d-flex flex-column justify-content-center">
        <div class="nombre d-flex">
            <div class="d-none d-sm-flex">
                <p class="h5 font-weight-bolder">Nombre:</p>
                <p class="h5 font-weight-light ml-3">Ivan Soler</p>
            </div>
            
            <div class="d-flex d-sm-none mt-2">
                <p class="h6 font-weight-bolder">Nombre:</p>
                <p class="h6 font-weight-light ml-3">Ivan Soler</p>
            </div>
        </div>

        <div class="correo d-flex">
            <div class="d-none d-sm-flex">
                <p class="h5 font-weight-bolder">Correo:</p>
                <p class="h5 font-weight-light ml-3">ivan@poligran.edu.co</p>
            </div>
           
            <div  class="d-flex d-sm-none mt-2">
                <p class="h6 font-weight-bolder">Correo:</p>
                <p class="h6 font-weight-light ml-3">ivan@poligran.edu.co</p>
            </div>     
        </div>
    </div>
</div>
