<main>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12">
                <app-imformacion-mision></app-imformacion-mision>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-crear-mision></app-crear-mision>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-tabla-misiones></app-tabla-misiones>
            </div>
        </div>
    </div>
</main>
