<main>
    <div class="row no-gutters">
      <div class="col-12">
  
        <div class="carousel slide" id="pricipal_slider" data-ride='carousel'>
  
          <ol class="carousel-indicators">
            <li data-target='#pricipal_slider' data-slide-to='0' class="active"></li>
            <li data-target='#pricipal_slider' data-slide-to='1' ></li>
            <li data-target='#pricipal_slider' data-slide-to='2' ></li>
          </ol>
  
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-caption d-none d-xl-block">
                <p class="display-1 font-weight-bold">Administra</p>
                <p class="display-4 font-weight-bold">Puedes ver el progreso y administrar a tus estudiantes.</p>
              </div>
              <div class="carousel-caption d-none d-lg-block d-xl-none">
                <p class="display-1 font-weight-bold">Administra</p>
                <p class="h1">Puedes ver el progreso y administrar a tus estudiantes.</p>
              </div>
              <div class="carousel-caption d-none d-md-block d-lg-none">
                <p class="display-3 font-weight-bold">Administra</p>
                <p class="h3">Puedes ver el progreso y administrar a tus estudiantes.</p>
              </div>
              <div class="carousel-caption d-none d-sm-block d-md-none">
                <p class="h1 font-weight-bold">Administra</p>
                <p class="h4">Puedes ver el progreso y administrar a tus estudiantes.</p>
              </div>
              <div class="carousel-caption d-block d-sm-none">
                <p class="h2 font-weight-bold">Administra</p>
                <p class="">Puedes ver el progreso y administrar a tus estudiantes.</p>
              </div>
              <img src="https://media.vandal.net/m/9-2017/2017928115154_1.jpg" alt="" class="img-fluid">
            </div>
            <div class="carousel-item">
              <div class="carousel-caption d-none d-xl-block">
                <p class="display-1 font-weight-bold">Crea</p>
                <p class="display-4 font-weight-bold">Puedes crear divertidos niveles personalizados.</p>
              </div>
              <div class="carousel-caption d-none d-lg-block d-xl-none">
                <p class="display-1 font-weight-bold">Crea</p>
                <p class="h1">Puedes crear divertidos niveles personalizados.</p>
              </div>
              <div class="carousel-caption d-none d-md-block d-lg-none">
                <p class="display-3 font-weight-bold">Crea</p>
                <p class="h3">Puedes crear divertidos niveles personalizados.</p>
              </div>
              <div class="carousel-caption d-none d-sm-block d-md-none">
                <p class="h1 font-weight-bold">Crea</p>
                <p class="h4">Puedes crear divertidos niveles personalizados.</p>
              </div>
              <div class="carousel-caption d-block d-sm-none">
                <p class="h2 font-weight-bold">Crea</p>
                <p class="">Puedes crear divertidos niveles personalizados.</p>
              </div>
              <img src="https://somoskudasai.com/wp-content/uploads/2018/11/Nintendo-super-mario-810x400.jpg" alt="" class="img-fluid">
            </div>
            <div class="carousel-item">
              <div class="carousel-caption d-none d-xl-block">
                <p class="display-1 font-weight-bold">Aprende</p>
                <p class="display-4 font-weight-bold">Con Rock Quest puedes aprender inglés de manera divertida.</p>
              </div>
              <div class="carousel-caption d-none d-lg-block d-xl-none">
                <p class="display-1 font-weight-bold">Aprende</p>
                <p class="h1">Con Rock Quest puedes aprender inglés de manera divertida.</p>
              </div>
              <div class="carousel-caption d-none d-md-block d-lg-none">
                <p class="display-3 font-weight-bold">Aprende</p>
                <p class="h3">Con Rock Quest puedes aprender inglés de manera divertida.</p>
              </div>
              <div class="carousel-caption d-none d-sm-block d-md-none">
                <p class="h1 font-weight-bold">Aprende</p>
                <p class="h4">Con Rock Quest puedes aprender inglés de manera divertida.</p>
              </div>
              <div class="carousel-caption d-block d-sm-none">
                <p class="h2 font-weight-bold">Aprende</p>
                <p class="">Con Rock Quest puedes aprender inglés de manera divertida.</p>
              </div>
              <img src="https://i1.wp.com/www.sopitas.com/wp-content/uploads/2013/05/super-mario-bros4.jpg" alt="" class="img-fluid">
            </div>
          </div>
  
  
          <a href="#pricipal_slider" class="carousel-control-prev" data-slide='prev'>
            <span class="carousel-control-prev-icon" arial-hidden='true'></span>
            <span class="sr-only" arial-hidden='true'>Anterior</span>
          </a>
  
          <a href="#pricipal_slider" class="carousel-control-next" data-slide='next'>
            <span class="carousel-control-next-icon" arial-hidden='true'></span>
            <span class="sr-only" arial-hidden='true'>Siguiente</span>
          </a>
  
        </div>
      </div>
    </div>
  </main>
